/* Generell styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f0f0f0; /* Grå bakgrunn */
}

.nav-list {
  display: flex;
  gap: 1rem;

  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list li{
  flex-grow: 1;
  flex-shrink: 1;
  }

.icons {
  display: flex;
  gap: 1rem;
}
.logo{
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*Button*/
.button{
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Gjør header responsiv */
@media (max-width: 768px) {
  .nav-list3 {
    display: none; /* Skjul hovedmenyen på små skjermer */
  }

  /* Vis en hamburger-meny-knapp på små skjermer */
  .hamburger-menu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .hamburger-menu {
    display: none; /* Skjul hamburger-menyen på større skjermer */
  }
}

/* Banner Styling med overlay(bytt navn?/lage ny klasse?)*/
.banner {
  border-width: 0px;
  border-style: solid;
  border-image-source: linear-gradient(rgba(255, 255, 0, 0.3), rgba(255, 0, 0, 0.3));
  border-image-slice: fill 1;
  

  position: relative;
  background-image: url('https://picsum.photos/1200/400');
  background-size: cover;
  background-repeat: no-repeat;

  place-content: center;

  color: white;
  padding: 4rem;
  text-align: center;
}

/* Products Section */

.products-grid, .categories-grid, .reviews-grid {
  display: grid;
  gap: 1rem;
}
.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  overflow: auto;
  flex-direction: row;
}

.FlexContainer div {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: lightblue;
}
/* Responsiv grid */
.products-grid, .categories-grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.reviews-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
