@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root{
    --text-color--: #df927d;
    --text-color-blend--: #03055B;
    --back-up-color--: #E7FAF9;
    --header-footer-color--:#03045b63;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 32px;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        "header" 
        "main" 
        "aside"
        "footer";
    gap: 1rem;
    width: 100%;
}
body{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
    width: 50%;
    height: 50%;
    background: url("../bilder/iStock-beach-medium-flipped.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #03045b63;
    backdrop-filter: blur(10px);
    align-items: center;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 2rem 5rem 2rem 5rem;
    justify-content: space-between;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.logo h1{
    font-size: 27px;
    color: #fff;
    background-color: var(--text-color--);
    border-radius: 25px;
    padding: 10px 15px;
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
}
li a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    transition: 0.6s;
}
li a:hover{
    background-color: var(--text-color--);
}

.system-button{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: black;
}

button{
    border: 2px solid var(--back-up-color--);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: var(--back-up-color--);
    cursor: pointer;
    transition: 0.6s;
}
button:hover{
    background-color: var(--back-up-color--);
    color: #000;
}

/* Hero Section */

.home-component{
    grid-area: main;
    padding:2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: center;
    height: auto;
    justify-content: flex-end;
    text-align: left;
}
.home-container{
    align-items: center;
    width: 600px;
}
.home-container h1{
    color:#fff;
    font-size: 5rem;
    padding-bottom: 20px;
}
.home-container p{
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 40px;
}
#explore{
    margin-left: 20px;
}
@media (min-width: 992px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: 
        "header" 
        "main" 
        "aside"
        "footer";
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    aside{
        grid-area: aside;
    }
    footer{
        grid-area: footer;
        display: flex;
        
        background-color: var(--header-footer-color----);
        backdrop-filter: blur(10px);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
    }

    body{
        grid-area: main;
        width: 100%;
        height: 100%;
        background: url("../bilder/iStock-beach-large-flipped.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    header{
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: auto;
        background-color: #03045b63;
        backdrop-filter: blur(10px);
        align-items: center;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        padding: 2rem 5rem 2rem 5rem;
        justify-content: space-between;
    }
    .nav-link{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .logo{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .logo h1{
        font-size: 27px;
        color: #fff;
        background-color: var(--text-color--);
        border-radius: 25px;
        padding: 10px 15px;
    }
    ul{
        list-style: none;
        display: flex;
        gap: 3rem;
        padding: 0;
    }
    li a{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 25px;
        padding: 10px 15px;
        transition: 0.6s;
    }
    li a:hover{
        background-color: var(--text-color--);
    }

    .login-sec{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    button{
        border: 2px solid var(--back-up-color--);
        background-color: transparent;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 18px;
        font-weight: 600;
        color: var(--back-up-color--);
        cursor: pointer;
        transition: 0.6s;
    }
    button:hover{
        background-color: var(--back-up-color--);
        color: #000;
    }

    /* Hero Section */

    .home-component{
        grid-area: main;
        padding:2rem 5rem 2rem 5rem;
        display: flex;
        align-items: center;
        height: auto;
        justify-content: flex-end;
        text-align: left;
    }
    .home-container{
        align-items: center;
        width: 600px;
    }
    .home-container h1{
        color:#fff;
        font-size: 5rem;
        padding-bottom: 20px;
    }
    .home-container p{
        color: #fff;
        font-size: 1.5rem;
        padding-bottom: 40px;
    }
    #explore{
        margin-left: 20px;
    }

}