.grid-container {
    display: grid;
    grid-template-columns: 1fr;

  }

.item-1{
    background-color: yellow;
}
.item-2{
    background-color: blue;
}



  @media (min-width: 960px) {
    .grid-container {
      display: grid;
      grid-template-columns: 4fr 6fr;
      grid-column-gap: 20px;
      grid-auto-rows: 200px;
    }
  }